---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=Chicago,%20IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 14:37:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Chicago,
        IL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=861901140"}]}]}'
  recorded_at: Tue, 27 Sep 2022 14:37:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=hidden key&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664289425,"sunrise":1664278987,"sunset":1664321989,"temp":52.54,"feels_like":50.45,"pressure":1019,"humidity":63,"dew_point":40.32,"uvi":1.81,"clouds":20,"visibility":10000,"wind_speed":13.8,"wind_deg":330,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1664287200,"temp":52.34,"feels_like":50.18,"pressure":1019,"humidity":62,"dew_point":39.72,"uvi":0.83,"clouds":32,"visibility":10000,"wind_speed":15.23,"wind_deg":316,"wind_gust":22.95,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664290800,"temp":52.54,"feels_like":50.45,"pressure":1019,"humidity":63,"dew_point":40.32,"uvi":1.81,"clouds":20,"visibility":10000,"wind_speed":16.55,"wind_deg":320,"wind_gust":26.11,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1664294400,"temp":52.97,"feels_like":50.74,"pressure":1019,"humidity":59,"dew_point":39.06,"uvi":2.98,"clouds":27,"visibility":10000,"wind_speed":17.02,"wind_deg":322,"wind_gust":23.73,"weather":[{"id":80[...]
