---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664068525,"sunrise":1664019600,"sunset":1664063105,"temp":63.61,"feels_like":63.14,"pressure":1010,"humidity":74,"dew_point":55.18,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664067600,"temp":63.61,"feels_like":63.14,"pressure":1010,"humidity":74,"dew_point":55.18,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":7.11,"wind_deg":291,"wind_gust":17.6,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664071200,"temp":64.17,"feels_like":63.66,"pressure":1010,"humidity":72,"dew_point":54.97,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":3.62,"wind_deg":274,"wind_gust":10.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664074800,"temp":64.22,"feels_like":63.77,"pressure":1009,"humidity":73,"dew_point":55.4,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":3.76,"wind_deg":223,"wind_gust":9.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.43},{"dt":1664078400,"temp":64.08,"feels_like":63.81,"pressure":1008,"humidity":77,"dew_point":56.73,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.72,"wind_deg":252,"wind_gust":13.49,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.79,"rain":{"1h":1}},{"dt":1664082000,"temp":63.82,"feels_like":63.63,"pressure":1008,"humidity":79,"dew_point":57.2,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":4.09,"wind_deg":260,"wind_gust":14.14,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.99,"rain":{"1h":1.23}},{"dt":1664085600,"temp":63.52,"feels_like":63.34,"pressure":1006,"humidity":80,"dew_point":57.15,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.07,"wind_deg":248,"wind_gust":18.[...]
[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=Chicago,%20IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Sep 2022 02:16:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Chicago,
        IL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1850383816"}]}]}'
  recorded_at: Sun, 25 Sep 2022 02:16:39 GMT
[...]
