---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=chicago,%20il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 00:14:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1646642100"}]}]}'
  recorded_at: Wed, 28 Sep 2022 00:14:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=hidden key&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664324048,"sunrise":1664278987,"sunset":1664321989,"temp":53.92,"feels_like":51.66,"pressure":1024,"humidity":56,"dew_point":38.61,"uvi":0,"clouds":36,"visibility":10000,"wind_speed":8.99,"wind_deg":14,"wind_gust":14,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664323200,"temp":53.92,"feels_like":51.66,"pressure":1024,"humidity":56,"dew_point":38.61,"uvi":0,"clouds":36,"visibility":10000,"wind_speed":14.79,"wind_deg":339,"wind_gust":19.08,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.01},{"dt":1664326800,"temp":53.69,"feels_like":51.39,"pressure":1024,"humidity":56,"dew_point":38.39,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":14.34,"wind_deg":339,"wind_gust":18.84,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.13},{"dt":1664330400,"temp":53.35,"feels_like":51.12,"pressure":1024,"humidity":58,"dew_point":38.97,"uvi":0,"clouds":42,"visibility":10000,"wind_speed":14.07,"wind_deg":342,"wind_gust":18.52,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.17},{"dt":1664334000,"temp":53.01,"feels_like":50.83,"pressure":1024,"humidity":60,"dew_point":39.51,"uvi":0,"clouds":50,"visibility":10000,"wind_speed":14.58,"wind_deg":345,"wind_gust":18.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.17},{"dt":1664337600,"temp":52.54,"feels_like":50.5,"pressure":1024,"humidity":64,"dew_point":40.73,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":14.14,"wind_deg":343,"wind_gust":18.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.15},{"dt":1664341200,"temp":51.8,"feels_like":49.84,"pressure":1025,"humidity":67,"dew_point":41.07,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":14.34,"wind_deg":340,"wind_gust":18.57,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.25,"rain":{"1h":0.11}},{"dt":1664344800,"temp":51.53,"feels_like":49.59,"pressure":1025,"humidity":68,"dew_point":41.4,"uvi":0,"clouds":67,"visibility":10000,"wind_speed":14.79,"wind_deg":338,"wind_gust":19.33,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.29,"rain":{"1h":0.13}},{"dt":1664348400,"temp":51.22,"feels_like":49.3,"pressure":1026,"humidity":69,"dew_point":41.49,"uvi":0,"clouds":86,"visibility":10000,"wind_speed":14.94,"wind_deg":338,"wind_gust":19.[...]
