---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=chicago,%20il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 16:29:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=904865248"}]}]}'
  recorded_at: Mon, 26 Sep 2022 16:29:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664209744,"sunrise":1664192524,"sunset":1664235694,"temp":58.64,"feels_like":57.16,"pressure":1013,"humidity":63,"dew_point":46.09,"uvi":2.98,"clouds":40,"visibility":10000,"wind_speed":12.66,"wind_deg":310,"wind_gust":26.46,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1664208000,"temp":58.64,"feels_like":57.16,"pressure":1013,"humidity":63,"dew_point":46.09,"uvi":2.98,"clouds":40,"visibility":10000,"wind_speed":16.49,"wind_deg":303,"wind_gust":21.63,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664211600,"temp":58.96,"feels_like":57.38,"pressure":1013,"humidity":60,"dew_point":45.12,"uvi":3.84,"clouds":37,"visibility":10000,"wind_speed":16.15,"wind_deg":305,"wind_gust":21.34,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664215200,"temp":59.83,"feels_like":58.19,"pressure":1012,"humidity":57,"dew_point":44.58,"uvi":4.1,"clouds":36,"visibility":10000,"wind_speed":16.71,"wind_deg":306,"wind_gust":21.14,"weather":[{"i[...]
