---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664233960,"sunrise":1664192524,"sunset":1664235694,"temp":58.96,"feels_like":57.2,"pressure":1014,"humidity":56,"dew_point":43.32,"uvi":0.05,"clouds":77,"visibility":10000,"wind_speed":5.99,"wind_deg":17,"wind_gust":8.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664233200,"temp":58.96,"feels_like":57.2,"pressure":1014,"humidity":56,"dew_point":43.32,"uvi":0.05,"clouds":77,"visibility":10000,"wind_speed":14.97,"wind_deg":321,"wind_gust":24.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664236800,"temp":58.98,"feels_like":57.11,"pressure":1014,"humidity":54,"dew_point":42.39,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":13.27,"wind_deg":320,"wind_gust":24.05,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.01},{"dt":1664240400,"temp":58.59,"feels_like":56.68,"pressure":1014,"humidity":54,"dew_point":42.01,"uvi":0,"clouds":55,"visibility":10000,"wind_speed":12.48,"wind_deg":317,"wind_gust":25.12,"weather":[{"id":80[...]
