---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=shiloh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.287 TT 0 0.330"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 1417,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL88786W",
                    "type": "work",
                    "seed": [
                        "/books/OL10267561M",
                        "/books/OL9657763M",
                        "/books/OL22371796M",
                        "/books/OL6109722M",
                        "/books/OL4883693M",
                        "/books/OL9764899M",
                        "/books/OL9597532M",
                        "/books/OL7700016M",
                        "/books/OL1865961M",
                        "/books/OL8133655M",
                        "/books/OL17208925M",[...]
