---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664072423,"sunrise":1664019600,"sunset":1664063105,"temp":61.99,"feels_like":61.47,"pressure":1010,"humidity":76,"dew_point":54.34,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":320,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664071200,"temp":61.99,"feels_like":61.47,"pressure":1010,"humidity":76,"dew_point":54.34,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":3.62,"wind_deg":274,"wind_gust":10.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664074800,"temp":62.62,"feels_like":62.1,"pressure":1009,"humidity":75,"dew_point":54.59,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":3.76,"wind_deg":223,"wind_gust":9.53,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.43},{"dt":1664078400,"temp":62.94,"feels_like":62.6,"pressure":1009,"humidity":78,"dew_point":55.98,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":4.72,"wind_deg":252,"wind_gust":13.49,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.79,"rain":{"1h":2.05}},{"dt":1664082000,"temp":63.12,"feels_like":62.85,"pressure":1008,"humidity":79,"dew_point":56.52,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.09,"wind_deg":260,"wind_gust":14.14,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.99,"rain":{"1h":1.23}},{"dt":1664085600,"temp":63.21,"feels_like":63,"pressure":1007,"humidity":80,"dew_point":56.95,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":7.07,"wind_deg":248,"wind_gust":18.[...]
[...]
