---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.096 TT 0 0.099"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 67050,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8204662W",
                    "type": "work",
                    "seed": [
                        "/books/OL8051188M",
                        "/books/OL9440135M",
                        "/books/OL24238186M",
                        "/books/OL24267748M",
                        "/books/OL27915528M",
                        "/books/OL24324752M",
                        "/books/OL8042312M",
                        "/books/OL8051511M",
                        "/books/OL24272706M",
                        "/books/OL8052130M",
                        "/books/OL7595077M[...]
