---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664069143,"sunrise":1664019600,"sunset":1664063105,"temp":63.19,"feels_like":62.74,"pressure":1010,"humidity":75,"dew_point":55.15,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664067600,"temp":63.19,"feels_like":62.74,"pressure":1010,"humidity":75,"dew_point":55.15,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":7.11,"wind_deg":291,"wind_gust":17.6,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664071200,"temp":63.84,"feels_like":63.36,"pressure":1010,"humidity":73,"dew_point":55.02,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":3.62,"wind_deg":274,"wind_gust":10.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664074800,"temp":63.99,"feels_like":63.52,"pressure":1009,"humidity":73,"dew_point":55.17,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":3.76,"wind_deg":223,"wind_gust":9.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.43},{"dt":1664078400,"temp":63.91,"feels_like":63.68,"pressure":1008,"humidity":78,"dew_point":56.93,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.72,"wind_deg":252,"wind_gust":13.49,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.79,"rain":{"1h":1}},{"dt":1664082000,"temp":63.73,"feels_like":63.52,"pressure":1008,"humidity":79,"dew_point":57.11,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":4.09,"wind_deg":260,"wind_gust":14.14,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.99,"rain":{"1h":1.23}},{"dt":1664085600,"temp":63.52,"feels_like":63.34,"pressure":1006,"humidity":80,"dew_point":57.15,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.07,"wind_deg":248,"wind_gust":18[...]
[...]
