---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664209750,"sunrise":1664192524,"sunset":1664235694,"temp":58.64,"feels_like":57.22,"pressure":1013,"humidity":64,"dew_point":46.51,"uvi":2.98,"clouds":40,"visibility":10000,"wind_speed":12.66,"wind_deg":310,"wind_gust":26.46,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1664208000,"temp":58.64,"feels_like":57.22,"pressure":1013,"humidity":64,"dew_point":46.51,"uvi":2.98,"clouds":40,"visibility":10000,"wind_speed":16.49,"wind_deg":303,"wind_gust":21.63,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664211600,"temp":58.96,"feels_like":57.43,"pressure":1013,"humidity":61,"dew_point":45.55,"uvi":3.84,"clouds":37,"visibility":10000,"wind_speed":16.15,"wind_deg":305,"wind_gust":21.34,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664215200,"temp":59.83,"feels_like":58.24,"pressure":1012,"humidity":58,"dew_point":45.03,"uvi":4.1,"clouds":36,"visibility":10000,"wind_speed":16.71,"wind_deg":306,"wind_gust":21.14,"weather":[{"i[...]
[...]
