---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664062457,"sunrise":1664019600,"sunset":1664063105,"temp":67.53,"feels_like":67.14,"pressure":1010,"humidity":67,"dew_point":56.19,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":3,"wind_deg":292,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664060400,"temp":67.87,"feels_like":67.42,"pressure":1010,"humidity":65,"dew_point":55.69,"uvi":0.18,"clouds":56,"visibility":10000,"wind_speed":9.53,"wind_deg":300,"wind_gust":18.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664064000,"temp":67.53,"feels_like":67.14,"pressure":1010,"humidity":67,"dew_point":56.19,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":3.29,"wind_deg":291,"wind_gust":7.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664067600,"temp":67.59,"feels_like":67.15,"pressure":1010,"humidity":66,"dew_point":55.83,"uvi":0,"clouds":66,"visibility":10000,"wind_speed":1.43,"wind_deg":157,"wind_gust":2.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664071200,"temp":67.39,"feels_like":66.92,"pressure":1009,"humidity":66,"dew_point":55.65,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":4,"wind_deg":128,"wind_gust":6.13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.42,"rain":{"1h":0.17}},{"dt":1664074800,"temp":66.16,"feels_like":65.91,"pressure":1008,"humidity":73,"dew_point":57.27,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":5.06,"wind_deg":154,"wind_gust":8.66,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.82,"rain":{"1h":0.82}},{"dt":1664078400,"temp":65.48,"feels_like":65.39,"pressure":1007,"humidity":78,"dew_point":58.44,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":8.08,"wind_deg":181,"wind_gust":16.8[...]
