---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.016 TT 0 0.019"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 67047,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8204662W",
                    "type": "work",
                    "seed": [
                        "/books/OL8051188M",
                        "/books/OL9440135M",
                        "/books/OL24238186M",
                        "/books/OL24267748M",
                        "/books/OL27915528M",
                        "/books/OL24324752M",
                        "/books/OL8042312M",
                        "/books/OL8051511M",
                        "/books/OL24272706M",
                        "/books/OL8052130M",
                        "/books/OL7595077M[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 23:13:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1038005646"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=323597851"}]}]}'
  recorded_at: Mon, 26 Sep 2022 23:13:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664234005,"sunrise":1664196679,"sunset":1664239866,"temp":79.92,"feels_like":79.92,"pressure":1019,"humidity":23,"dew_point":38.86,"uvi":1.16,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":195,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664233200,"temp":79.92,"feels_like":79.92,"pressure":1019,"humidity":23,"dew_point":38.86,"uvi":1.16,"clouds":0,"visibility":10000,"wind_speed":6.53,"wind_deg":65,"wind_gust":5.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664236800,"temp":79.9,"feels_like":79.9,"pressure":1018,"humidity":21,"dew_point":36.52,"uvi":0.28,"clouds":0,"visibility":10000,"wind_speed":6.69,"wind_deg":75,"wind_gust":5.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664240400,"temp":78.58,"feels_like":77.09,"pressure":1018,"humidity":20,"dew_point":34.21,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.84,"wind_deg":107,"wind_gust":9.73,"weather":[{"id":800,"main":"Clea[...]
[...]
