---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&content_type=application/json&exclude=%7Bpart%7D&lat=41.883229&lon=-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664058233,"sunrise":1664019600,"sunset":1664063105,"temp":294.71,"feels_like":294.51,"pressure":1010,"humidity":61,"dew_point":286.88,"uvi":0.73,"clouds":75,"visibility":10000,"wind_speed":3.6,"wind_deg":270,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664058240,"precipitation":0},{"dt":1664058300,"precipitation":0},{"dt":1664058360,"precipitation":0},{"dt":1664058420,"precipitation":0},{"dt":1664058480,"precipitation":0},{"dt":1664058540,"precipitation":0},{"dt":1664058600,"precipitation":0},{"dt":1664058660,"precipitation":0},{"dt":1664058720,"precipitation":0},{"dt":1664058780,"precipitation":0},{"dt":1664058840,"precipitation":0},{"dt":1664058900,"precipitation":0},{"dt":1664058960,"precipitation":0},{"dt":1664059020,"precipitation":0},{"dt":1664059080,"precipitati[...]
