---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.058 TT 0 0.060"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8849,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7919260W",
                    "type": "work",
                    "seed": [
                        "/books/OL7534653M",
                        "/books/OL9773191M",
                        "/works/OL7919260W",
                        "/authors/OL2644662A"
                    ],
                    "title": "Denver                              **",
                    "title_suggest": "Denver                              **",
                    "edition_count": 2,
                    "edition_key": [
                        "OL7534653M",
                        "OL9773191M"
                    ],
                    "publish_date": [
                        "July 1982",
                        "1982"
                    ],
                    "publish_year": [
                        1982
                    ],
                    "first_publish_year": 1982,
                    "number_of_pages_median": 480,
                    "oclc": [
                        "8545466"
                    ],
                    "isbn": [
                        "0445047119",
                        "9780449047118",
                        "0449047113",
                        "9780445047112"
                    ],
                    "last_modified_i": 1303831840,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Popular Library",
                        "Fawcett Books"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2644662A"
                    ],
                    "author_name": [
                        "John Dunning"
                    ],
                    "id_goodreads": [
                        "572193",
                        "1709509"
                    ],
                    "id_librarything": [
                        "762567"
                    ],
                    "publisher_facet": [
                        "Fawcett Books",
                        "Popular Library"
                    ],
                    "_version_": 1735676409105350658,
                    "author_facet": [
                        "OL2644662A John Dunning"
                    ]
                },
                {
                    "key": "/works/OL26878533W",
                    "type": "work",
                    "seed": [
                        "/books/OL36444779M",
                        "/works/OL26878533W",
                        "/authors/OL10084594A"
                    ],
                    "title": "Denver Gift",
                    "title_suggest": "Denver Gift",
               [...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 23:15:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1868375409"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","g[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=hidden key&content_type=application/json&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664406912,"sunrise":1664369593,"sunset":1664412468,"temp":81.82,"feels_like":79.75,"pressure":1018,"humidity":20,"dew_point":36.88,"uvi":1.04,"clouds":54,"visibility":10000,"wind_speed":1.99,"wind_deg":100,"wind_gust":3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664406000,"temp":81.82,"feels_like":79.75,"pressure":1018,"humidity":20,"dew_point":36.88,"uvi":1.04,"clouds":54,"visibility":10000,"wind_speed":8.57,"wind_deg":173,"wind_gust":7.02,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664409600,"temp":81.57,"feels_like":79.54,"pressure":1017,"humidity":19,"dew_point":35.37,"uvi":0.25,"clouds":54,"visibility":10000,"wind_speed":12.91,"wind_deg":167,"wind_gust":11.14,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664413200,"temp":79.68,"feels_like":79.68,"pressure":1017,"humidity":22,"dew_point":37.53,"uvi":0,"clouds":38,"visibility":10000,"wind_speed":13.06,"wind_deg":179,"wind_gust":18.81,"weather":[{"id":80[...]
