---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.054 TT 0 0.055"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8849,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7919260W",
                    "type": "work",
                    "seed": [
                        "/books/OL7534653M",
                        "/books/OL9773191M",
                        "/works/OL7919260W",
                        "/authors/OL2644662A"
                    ],
                    "title": "Denver                              **",
                    "title_suggest": "Denver                              **",
                    "edition_count": 2,
                    "edition_key": [
                        "OL7534653M",
                        "OL9773191M"
                    ],
                    "publish_date": [
                        "July 1982",
                        "1982"
                    ],
                    "publish_year": [
                        1982
                    ],
                    "first_publish_year": 1982,
                    "number_of_pages_median": 480,
                    "oclc": [
                        "8545466"
                    ],
                    "isbn": [
                        "0445047119",
                        "9780449047118",
                        "0449047113",
                        "9780445047112"
                    ],
                    "last_modified_i": 1303831840,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Popular Library",
                        "Fawcett Books"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2644662A"
                    ],
                    "author_name": [
                        "John Dunning"
                    ],
                    "id_goodreads": [
                        "572193",
                        "1709509"
                    ],
                    "id_librarything": [
                        "762567"
                    ],
                    "publisher_facet": [
                        "Fawcett Books",
                        "Popular Library"
                    ],
                    "_version_": 1735676409105350658,
                    "author_facet": [
                        "OL2644662A John Dunning"
                    ]
                },
                {
                    "key": "/works/OL26878533W",
                    "type": "work",
                    "seed": [
                        "/books/OL36444779M",
                        "/works/OL26878533W",
                        "/authors/OL10084594A"
                    ],
                    "title": "Denver Gift",
                    "title_suggest": "Denver Gift",
               [...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?content_type=application/json&key=DONT
      SHOW MY API KEY&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 14:36:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1082375636"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","g[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=hidden key&content_type=application/json&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664289416,"sunrise":1664283136,"sunset":1664326167,"temp":61.48,"feels_like":59.49,"pressure":1021,"humidity":46,"dew_point":40.53,"uvi":1.08,"clouds":7,"visibility":10000,"wind_speed":1.88,"wind_deg":163,"wind_gust":2.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664287200,"temp":61.92,"feels_like":59.83,"pressure":1021,"humidity":43,"dew_point":39.2,"uvi":0.27,"clouds":7,"visibility":10000,"wind_speed":1.32,"wind_deg":155,"wind_gust":1.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664290800,"temp":61.48,"feels_like":59.49,"pressure":1021,"humidity":46,"dew_point":40.53,"uvi":1.08,"clouds":7,"visibility":10000,"wind_speed":1.88,"wind_deg":163,"wind_gust":2.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664294400,"temp":63.19,"feels_like":61.14,"pressure":1021,"humidity":41,"dew_point":39.13,"uvi":2.36,"clouds":7,"visibility":10000,"wind_speed":2.53,"wind_deg":125,"wind_gust":3.06,"weather":[{"id":800,"main"[...]
